---
import Section from "@/components/core/Section.astro";
import Faq from "@/components/react/Faq";
import Features from "@/components/Features.astro";
import Carrusel from "@/components/react/marcas";
import Testimonial from "@/components/Testimonial.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";
import PageHeader from "@/components/core/PageHeader.astro";

const homepage = await getEntry("homepage", "index");
// console.log(homepage);
const { banner, sections, features, testimonial } = homepage.data;
const call_to_action = homepage.data.call_to_action;

const about = await getEntry("stats", "index");
const page_data = {
  ...about.data,
  content: about.body,
};
const { Content } = await about.render();
---

<Base>
  <!-- banner -->
   <section class="mt-12 lg:mb-15">
  <section class="lg:mb-10 animate-fade-in">
    <Section section={banner} />
  </section>
</section>
  <!-- multi section -->
  {
    sections && (
      <section class="multi-section">
        {sections.map((section) => (
          <Section section={section} />
        ))}
      </section>
    )
  }
  <!-- stats -->
  <section class="py-10">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
  <!-- testimonial -->
  <!-- <Testimonial testimonial={testimonial} /> -->

  <!-- <FAQ /> -->
  <Faq client:load/>

  <!-- call to action -->
  <!-- <Cta {...call_to_action} /> -->

  <!-- carrusel -->
  <Carrusel client:load/>

  <!-- <Content /> -->
</Base>
