---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("homepage", "index");
const call_to_action = homepage.data.call_to_action;
---

<Base>
  <section class="py-16">
    <div class="container">

          <!-- call to action -->
          <Cta {...call_to_action} />

    </div>
  </section>
</Base>
